@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-slate-900 dark:text-gray-100;
    @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }

  .btn {
    @apply inline-block px-5 py-3 text-sm font-semibold tracking-wider text-white capitalize transition duration-300 bg-indigo-500 rounded-lg shadow-lg whitespace-nowrap hover:bg-indigo-600 focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 sm:text-xl;
  }
  html {
    @apply scroll-smooth;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('../fonts/Satoshi-Black.woff2') format('woff2'),
      url('../fonts//Satoshi-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 m-2 font-bold rounded;
  }
  .sm {
    @apply px-2;
  }

  .md {
    @apply px-4;
  }

  .lg {
    @apply px-8;
  }

  .xl {
    @apply px-16;
  }

  /*button colors: default, primary, info, success, warning, danger, dark */

  .filled {
    @apply text-white bg-cyan-500;
  }
  .filled:hover {
    @apply text-white bg-cyan-600;
  }
  .gradient {
    @apply text-gray-800 bg-cyan-500;
  }
  .outlined {
    @apply text-gray-700 border border-gray-300 hover:border-gray-400 active:bg-gray-100 active:text-gray-700/80;
  }
  .text {
    @apply text-gray-800 bg-transparent;
  }
  .default {
    @apply text-gray-800 bg-gray-100;
  }
  .default:hover {
    @apply text-gray-800 bg-gray-200;
  }

  .primary {
    @apply text-white bg-bleed-blue;
  }
  .primary:hover {
    @apply text-white bg-blue-600;
  }

  .secondary {
    @apply text-white bg-gray-700;
  }
  .secondary:hover {
    @apply text-white bg-gray-500;
  }

  .success {
    @apply text-white bg-green-500;
  }
  .success:hover {
    @apply text-white bg-green-600;
  }

  .info {
    @apply text-white bg-blue-500;
  }
  .info:hover {
    @apply text-white bg-blue-600;
  }

  .warning {
    @apply text-white bg-yellow-400;
  }
  .warning:hover {
    @apply text-white bg-yellow-500;
  }

  .danger {
    @apply text-white bg-red-500;
  }
  .danger:hover {
    @apply text-white bg-red-600;
  }

  .dark {
    @apply text-white bg-gray-800;
  }
  .dark:hover {
    @apply text-white bg-gray-900;
  }

  .disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  .disabled:hover {
    @apply opacity-50 cursor-not-allowed;
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

input:checked + div {
  @apply border-blue-500;
}
input:checked + div svg {
  @apply block;
}
